.work-task-day {
  padding: 20px;
  background-color: #f0f2f5;

  .cell-name {
    min-width: 200px;
  }


  .custom-table .ant-table-thead > tr > th {
    background-color: #fafafa;
    color: #000 !important;
    font-weight: bold !important;
    text-align: center;
  }

  .custom-table .ant-table-tbody > tr > td {
    text-align: left;
    vertical-align: middle;
  }

  .custom-table .ant-table-pagination {
    margin: 16px 0;
  }

  .nowrap-cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
