.list-project {
    padding: 20px;
    .card {
        border-radius: 10px;
        overflow: hidden;
        transition: transform 0.3s ease;
        display: flex;
        flex-direction: column;
        border: none;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .card:hover {
        transform: translateY(-5px);
    }

    .card-title {
        font-size: 1.25rem;
        font-weight: bold;
    }

    .progress-bar-success {
        background-color: #4caf50;
    }

    .progress-bar-info {
        background-color: #2196f3;
    }

    .progress-bar-error {
        background-color: #ff0000;
    }


    .avatar-wrapper {
        margin-right: -8px;
        position: relative;
    }

    .avatar-wrapper img {
        border: 2px solid #fff;
        border-radius: 50%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    @media (max-width: 768px) {
        .col-md-4 {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    .d-flex.align-items-stretch {
        display: flex;
        align-items: stretch;
    }

    .card-body {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}