.form-add-members {
    min-width: 400px;
    padding: 20px !important;
}
.ant-modal-content {
    padding: 30px !important;
}
.custom-badge .ant-badge-count {
    background-color: #ff4d4f; /* Custom background color */
    color: #fff; /* Custom text color */
    font-size: 12px; /* Custom font size */
    border-radius: 12px; /* Custom border radius */
    padding: 0; /* Custom padding */
    box-shadow: 0 0 0 1px #fff; /* Custom box shadow */
}
.ant-scroll-number-only {
    height: initial !important;
}
.ant-dropdown {
    z-index: 500 !important;
}